{% extends 'base.html' %}

{% block main %}
  <style>
    .error-container{
        text-align: center;
        padding: 2em 1em;
    }
    
    .error-code{

         font-size: 5rem;       
         color: #fc725a;       
         margin: 0;
    }
   
    .error-message{
        front-size: 3rem;
        color: rgb(250, 146, 101);
        margin-top: 2rem;

    }
    </style>
<div class="error-container">
    <h1 class="error-code">500</h1>
    <p class="error-message">
        Sorry, but the server has encounterd an error. Please try again in a few minutes. 
    </p>
   </div>
{% endblock %}

