<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍜 Thai me up! - Order online, fast, fresh</title>
    <meta name="description" content="Thai Me Up">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="OLD_WRONG_HASH" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
        /* Main color: #FF8C3F, Sub Color: #FFB27E */
        .my-row {
            border: 1px solid grey;
        }

        .btn.nav-btn {
            height: 40px;
            width: 100px;
        }

        .nav-btn.log-in-btn {
            width: 75px;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top shadow px-5" style="background-color: #FF8C3F">
            <a class="navbar-brand text-light" href="{{ url_for('main.index') }}">
                <b>Thai me up</b>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('main.index', _anchor='items') }}">Menu</a>
                    </li>
                    {% if not session.get('is_admin') %}
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="{{ url_for('main.order') }}">Basket</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/discounts.html">Offers</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('main.trigger_500') }}">
                            test 500
                        </a>
                        </li>

                    {% if session.get('is_admin') %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('main.orders') }}">Orders</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-2 me-2 w-100" style="max-width: 400px;">
                        <form class="d-flex align-items-center" method="GET" action="{{ url_for('main.index') }}">
                            <input type="hidden" name="category" value="{{ request.args.get('category','all') }}">

                            <input class="form-control me-2" type="search" name="search" placeholder="Search"
                                aria-label="Search" value="{{ request.args.get('search','') }}">

                            <button class="btn btn-dark nav-btn" type="submit">Search</button>
                        </form>
                    </li>
                    {% if not session.get('logged_in') %}
                    <li class="nav-item ms-2 me-2">
                        <a href="{{ url_for('main.login') }}">
                            <button class="btn btn-dark nav-btn log-in-btn">
                                Login
                            </button>
                        </a>
                    </li>
                    {% endif %}
                    {% if session.get('logged_in') %}
                    <li class="nav-item ms-2 me-2">
                        <a href="{{ url_for('main.logout') }}">
                            <button class="btn btn-dark">
                                Logout
                            </button>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages(category_filter='message') %}
        {% if messages %}
        <div class="alert alert-secondary text-center p-2" role="alert" style="margin: 0px;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter='error') %}
        {% if messages %}
        <div class="alert alert-danger text-center p-2" role="alert" style="margin: 0px;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block head %}
        {% endblock %}
    </header>

    <div class="container-md mt-5 mb-5" style="max-width: 1200px;">
        <main class="flex-fill d-flex justify-content-center align-items-center">
            <div class="container-md" style="max-width:1200px;">
            {% block main %}
            {% endblock %}
        </main>
    </div>

    <footer class="mt-auto bg-dark text-light py-4">
        <div class="container">
            <div class="row gx-5">
                <div class="col-12 col-md-auto mb-3">
                    <ul class="list-unstyled mb-0">
                        <li><strong>Name</strong></li>
                        <li>Yelim Lee</li>
                        <li>Chia-Chi Hsu</li>
                        <li>Sun, Yue (Joy)</li>
                        <li>Natnicha Boonyakitjakarn</li>
                        <li>Maria Jose Castro Valencia</li>
                    </ul>
                </div>

                <div class="col-12 col-md-auto mb-3">
                    <ul class="list-unstyled mb-0">
                        <li><strong>Student ID</strong></li>
                        <li>n12278491</li>
                        <li>n12286443</li>
                        <li>n12326836</li>
                        <li>n12255025</li>
                        <li>n12199761</li>
                    </ul>
                </div>
            </div>
            <hr class="border-secondary my-3">
            <div class="text-center text-light">&copy; Thai Me Up</div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-lpyS/FD6Bi5VXdkP0rG8QbUUtGm1ik7JAE0HgRAA0D3Wxk7gx4vmVoKfP9Tc1xk6"
        crossorigin="anonymous"></script>
</body>

</html>