{% extends 'base.html' %}
{% import 'bootstrap5/form.html' as wtf %}
{% block main %}
<section class="shadow-sm mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Checkout</h1>
        <form method="POST" action="{{ url_for('main.checkout') }}">
          {{ form.hidden_tag() }}
          <div class="row">
            <div class="col card m-3 p-3">
              <h4>Order Summary</h4>
              <hr>
              {% if basket.items %}
              {% for item in basket.items %}
              {% set food_item = item.item %}
              <div class="d-flex align-items-center mb-3">
                <img src="{{ url_for('static', filename='img/' + food_item.image) }}" class="img-thumbnail"
                  width="100px">
                <div class="ms-3">
                  <b>{{ food_item.name }}</b><br>
                  <span>Quantity: {{ item.quantity }}</span><br>
                  <span>Total Price: ${{ "%.2f"|format(item.quantity * food_item.price) }}</span>
                </div>
              </div>
              {% endfor %}
              <div class="mt-4">
                <h2>Total: ${{ "%.2f"|format(basket.total_cost()) }}</h2>
              </div>
              {% else %}
              <p>Your basket is empty.</p>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col card m-3 p-3">
              <h4>Delivery & Payment</h4>
              <hr>

              <h5 class="mb-2">{{ form.delivery_method.label }}</h5>
              {% for subfield in form.delivery_method %}
              <div class="form-check">
                {{ subfield(class="form-check-input") }}
                {{ subfield.label(class="form-check-label") }}
              </div>
              {% endfor %}

              <h5 class="mt-4 mb-2">{{ form.payment_method.label }}</h5>
              {% for subfield in form.payment_method %}
              <div class="form-check">
                {{ subfield(class="form-check-input") }}
                {{ subfield.label(class="form-check-label") }}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="row">
            <div class="col card m-3 p-3">
              <h4>Contact Details</h4>
              <hr>
              <div class="col-md-6">
                {{ wtf.render_field(form.firstname) }}
                {{ wtf.render_field(form.surname) }}
                {{ wtf.render_field(form.phone) }}
                {{ wtf.render_field(form.address) }}
              </div>

              <div class="mt-4">
                <button type="submit" class="btn btn-success btn-lg px-4 w-100">
                  <i class="bi bi-check-circle me-2"></i>Place Order
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}