{% extends 'base.html' %}
{% block main %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow-sm rounded-4">
                    <div class="card-body p-5">

                        <h1 class="text-center mb-4">User Login</h1>

                        <p class="text-center text-muted">
                            Welcome back to <strong>Thai Me Up</strong>!
                            Please log in to continue. <br>
                            Don't have an account?
                            <a href="{{ url_for('main.register') }}"
                                class="text-decoration-none text-primary fw-semibold">
                                Register here
                            </a>.
                        </p>


                        <form method="POST">
                            {{ form.hidden_tag() }}

                            <div class="mb-3">
                                {{ form.username.label(class="form-label fw-bold") }}
                                {{ form.username(class="form-control form-control-lg") }}
                            </div>

                            <div class="mb-4">
                                {{ form.password.label(class="form-label fw-bold") }}
                                {{ form.password(class="form-control form-control-lg") }}
                            </div>

                            <div class="d-grid">
                                {{ form.submit(class="btn btn-lg fw-bold text-white mainColor") }}
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}