{% extends 'base.html' %}

{% block main %}
<style>
    .register-link {
        text-decoration: none;
        color: orange;
    }
    .h1 {
        font-size: 50px;
        text-align: center;
    }
    .lead.register-intr{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .form-label{
        font-size: 22px;
        font-weight: bold;
    }
    .form-control {
        font-size: 20px;
    }
    .btn.button {
        background-color: orange;
        color: #000;
        margin-top: 2rem;
        margin-bottom: 3rem;
        
    }
    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .card-container {
        border-radius: 15px;
        padding-top: 2rem;
        box-shadow: #000 5px 5px 5px;
        height: 350px;
    }
</style>
<section class="shadow-sm mb-5 mt-5">
  <div class="container card-container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-8 text-center">
        <h1 class="h1 mb-4">You’ve Been Logged Out</h1>
        <p class="lead register-intr mb-4">
          Your session has ended successfully. We hope to see you again soon!
        </p>
        <div class="d-flex justify-content-center gap-2">
          <a href="{{ url_for('main.login') }}" class="btn button">
            Log In
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
