{% extends 'base.html' %}

{% block main %}
<section class="mb-5">
    <div class="container mt-5 d-flex flex-column align-items-center" style="max-width: 1000px;">
        <div class="row mt-2 mb-5 w-100">
            <div class="col-12">
                <h3 class="display-5">Carts</h3>
            </div>
        </div>

        {% for item in order.items %}
        {% set food_item = item.item %}
        <div class="card mb-4 shadow-sm w-100" style="max-width: 1000px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/' + food_item.image) }}"
                        class="img-fluid rounded-start" alt="{{ food_item.name }}">
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-between">
                    <div class="card-body">
                        <h5 class="card-title">{{ food_item.name }}</h5>
                        <p class="card-text">{{ food_item.description }}</p>
                        <p class="card-text text-body-secondary">
                            Price: {{ "$%.2f"|format(food_item.price) }}
                        </p>

                        <div class="d-flex align-items-center mb-2">
                            <form method="POST"
                                action="{{ url_for('main.update_basket_quantity', item_id=item.id, action='decrease') }}">
                                <button class="btn btn-outline-secondary btn-sm me-2" type="submit">−</button>
                            </form>
                            <span class="fw-bold">{{ item.quantity }}</span>
                            <form method="POST"
                                action="{{ url_for('main.update_basket_quantity', item_id=item.id, action='increase') }}">
                                <button class="btn btn-outline-secondary btn-sm ms-2" type="submit">+</button>
                            </form>
                        </div>
                    </div>

                    <div class="card-footer bg-transparent border-0 text-end">
                        <form method="POST" action="{{ url_for('main.remove_basketitem', item_id=item.id) }}">
                            <input type="submit" value="Remove" class="btn btn-danger ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="row mb-1 justify-content-between w-100">
            {% if order.items|length > 0 %}
            <div class="row mt-4 mb-1 justify-content-between w-100">
                <div class="col d-flex justify-content-between align-items-center">
                    <form method="POST" action="{{ url_for('main.clear_basket') }}">
                        <input type="submit" value="Clear" class="btn btn-danger">
                    </form>

                    <span class="fw-bold fs-3">
                        Total: {{ "$%.2f"|format(totalprice) }}
                    </span>
                </div>
            </div>
            {% endif %}

        </div>
        <div class="row  w-100 justify-content-end">
            <div class="col-3 d-flex justify-content-end">
                {% if order.items|length > 0 %}
                <form method="POST" action="{{ url_for('main.checkout') }}">
                    <input type="submit" value="Checkout" class="btn btn-success fs-4 mb-3 px-5">
                </form>
                {% else %}
                <a href="{{ url_for('main.index') }}">
                    <button class="btn btn-primary mb-3">
                        Continue Shopping
                    </button></a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>


</section>
{% endblock %}