{% extends 'base.html' %}


<h1 class="text-center">Registered Orders</h1>

{% block main %}
{% for order in orders %}
<section class="shadow-sm p-5 mb-4" id="order-{{ order.id }}">
    <!-- Order Header -->
    <!-- 주문 상태 표시 및 변경 -->
    <div class="mb-3">
        <form method="POST" action="{{ url_for('main.update_order_status', order_id=order.id) }}">
            <strong>Status:</strong>
            {% if order.status.name == 'COMPLETED' %}
            <span class="badge bg-success">Completed</span>
            {% elif order.status.name == 'CANCELLED' %}
            <span class="badge bg-danger">Cancelled</span>
            {% elif order.status.name == 'PENDING' %}
            <span class="badge bg-warning text-dark">Pending</span>

            {% endif %}

            <select name="new_status" class="form-select d-inline w-auto ms-3 me-2">
                <option value="pending" {% if order.status.name=='PENDING' %}selected{% endif %}>Pending</option>
                <option value="cancelled" {% if order.status.name=='CANCELLED' %}selected{% endif %}>Cancelled</option>
                <option value="completed" {% if order.status.name=='COMPLETED' %}selected{% endif %}>Completed</option>


            </select>
            <button type="submit" class="btn btn-primary btn-sm">Update Status</button>
        </form>
    </div>


    <!-- Order Summary -->
    <div class="mb-3">
        <p>
            <strong>Order Date:</strong> {{ order.date.strftime('%Y-%m-%d') }}<br>
            <strong>Total Price:</strong> ${{ "%.2f"|format(order.calculate_total_cost()) }}<br>
            <strong>Delivery Method:</strong> {{ order.delivery_method }}<br>
            <strong>Payment Method:</strong> {{ order.payment_method }}<br>
        </p>
    </div>

    <!-- Recipient Info -->
    <div class="mb-3">
        <h4>Recipient Information</h4>
        <p>
            <strong>Name:</strong> {{ order.recipient_first_name }} {{ order.recipient_last_name }}<br>
            <strong>Phone:</strong> {{ order.recipient_phone }}<br>
            <strong>Address:</strong> {{ order.recipient_address }}<br>
        </p>
    </div>

    <!-- Ordered Items -->
    <div>
        <h4>Ordered Items</h4>
        {% for item in order.items %}
        <div class="d-flex align-items-center mb-3">
            <img src="{{ url_for('static', filename='img/' + item.item.image) }}" class="img-thumbnail" width="100px"
                alt="{{ item.item.name }}">
            <div class="ms-3">
                <b>{{ item.item.name }}</b><br>
                <span>Quantity: {{ item.quantity }}</span><br>
                <span>Total: ${{ "%.2f"|format(item.total_price()) }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}
{% endblock %}